h1 {
    text-decoration: underline;
}

/* .highlight {
    border: 2px solid red;
} */

#operatorOutput {

    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.red {
    color: red;
}

.center {
    text-align: center;

}

.big-break {
    display: block;
    margin: 15px 0;
}